{
   "ecmaFeatures": {
      "jsx": true,
      "modules": true
   },
   "env": {
      "browser": true,
      "mocha": true,
      "node": true
   },
   "extends": "airbnb",
   "parser": "babel-eslint",
   "plugins": [
      "babel",
      "react"
   ],
   "rules": {
      "comma-dangle": [1, "always-multiline"],
      "indent": [2, 3],
      "react/jsx-space-before-closing": 0
   }
}
