.unit-block {
   border: 1px solid rgba(255, 255, 255, 0.5);
   display: inline-block;
}

.tetromino {
   position: absolute;
}

.matrix {
   background-color: #222;
   border: 10px solid #aaa;
   display: inline-block;
   position: relative;
}
