$ghost-piece-opacity: 0.4;

@font-face {
   font-family: 'PressStart';
   src: url(PrStart.ttf);
}

.game-root {
    display: flex;
}

.unit-block {
   display: inline-block;

   &.unit-block--I {
      background-color: cyan;
      border-color: cyan;

      &.unit-block--outline { background-color: rgba(cyan, $ghost-piece-opacity); }
   }
   &.unit-block--J {
      background-color: blue;
      border-color: blue;

      &.unit-block--outline { background-color: rgba(blue, $ghost-piece-opacity); }
   }
   &.unit-block--L {
      background-color: orange;
      border-color: orange;

      &.unit-block--outline { background-color: rgba(orange, $ghost-piece-opacity); }
   }
   &.unit-block--O {
      background-color: yellow;
      border-color: yellow;

      &.unit-block--outline { background-color: rgba(yellow, $ghost-piece-opacity); }
   }
   &.unit-block--S {
      background-color: green;
      border-color: green;

      &.unit-block--outline { background-color: rgba(green, $ghost-piece-opacity); }
   }
   &.unit-block--T {
      background-color: purple;
      border-color: purple;

      &.unit-block--outline { background-color: rgba(purple, $ghost-piece-opacity); }
   }
   &.unit-block--Z {
      background-color: red;
      border-color: red;

      &.unit-block--outline { background-color: rgba(red, $ghost-piece-opacity); }
   }

   &.unit-block--outline {
      opacity: 0.8;
      border-style: solid;
      border-width: 1px;
   }
}

.tetromino {
   position: absolute;
}

.ghost-piece {
   position: absolute;
}

.matrix {
   background-color: #222;
   border: 10px solid #aaa;
   position: relative;
}

.info-panel {
   background-color: #222;
   width: 160px;

   .queue-display {
      border-color: #aaa;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      position: relative;

      .queue-display__piece {
         height: 90px;
         margin: 15px;
         width: 120px;
         position: relative;
      }
   }

   .score-display {
      border-color: #aaa;
      border-style: solid;
      border-width: 0 10px 10px 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      font-family: 'PressStart';
      font-size: 1.5em;
      height: 225px;
      text-align: center;
      text-transform: uppercase;

      .display-value {
         flex: auto;
         line-height: 1.5em;
         padding: 0.75em 0;
      }
   }
}
